# Nextcloud
NEXTCLOUD_ENABLED=true
NEXTCLOUD_URL=https://cloud.example.com
NEXTCLOUD_USER=user123
NEXTCLOUD_PASS=hunter2
NEXTCLOUD_DEST_DIR=Scan

# Paperless
PAPERLESS_ENABLED=true
PAPERLESS_URL=https://paperless.example.com
PAPERLESS_USER=user123
PAPERLESS_PASS=hunter2
